*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

header{
    background-color:#255EE9;
    
}

.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top:10px;
    color: white;
    
}





.link{
    color:white;
    padding-left: 5px;
    text-decoration: none;;
}

.login{
    display: inline-block;
    border:1px solid;
	padding: 0.5em 1em;
	border-radius: 10em;
    background-color: white;
    color:black;
    
}
.btn{
    text-decoration: none;
}

    


main{
    
    background-image: url(../img/jumbo.png);
    background-size:1500px;
    background-repeat: no-repeat;
}


.prima-parte{
    max-width: 600px;
    margin:0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom:7rem;
}
h1{
    padding-top:4rem;
    padding-bottom:2rem;
}
p{
    padding-bottom:1rem;
}

.bottoni{
    padding:10px;
    border-radius: 20px;
    border:1px solid white;

}

.item1{
    max-width: 1500px;
    padding-top: 5rem;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    
 

}

.img-1{
    flex-basis: 80%;
  
}

.testo1{
    flex-basis: 20%;
    text-align: left;
    align-self: flex-start;
    padding-top: 3rem;
    padding-bottom: 2rem;

}

h2{
    font-size: 1.8rem;
    padding-bottom: 2rem;
    

}

.p-testo-1{
    font-size: 0.7rem;
    line-height: 1.5rem;
}

.item2{
    background-color: gainsboro;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1500px;
    padding-top: 7rem;
    padding-bottom:7rem;
    color:black;
    align-items: center;
    justify-content:center;
}

.testo3{
    flex-basis: 20%;
    text-align: left;
    align-self: flex-start;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}



.end-main{
    color:black;
    max-width: 1000px;
    margin:0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom:7rem;
}

.img-4{
    padding-bottom: 3rem;
}


.btn-violet{
    background-color: blueviolet;
    border:1px solid blueviolet;
    padding:0.5rem;
    border-radius: 20px;

}
